
/*===FOOTER NAVBAR ICONS ===*/
footer .ui-btn .ui-btn-inner{ padding-top: 40px !important;}
footer .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }

#btnLectures .ui-icon { background:  url(../images/lectures.png) 50% 50% no-repeat; }
#btnSpeakers .ui-icon { background:  url(../images/speakers.png) 50% 50% no-repeat; }
#btnLocations .ui-icon { background:  url(../images/locations.png) 50% 50% no-repeat; }