/*=== HEADER ===*/
.ui-prev{ position:absolute; left:10px;}
.ui-next{ position:absolute; right:10px; top:39px;}

/*=== CONTENT ===*/
.ui-content{ padding:0; }
#info .ui-content{ padding: 10px; }
.ui-controlgroup-horizontal{ text-align:center; }
.timeTable{ margin:0 0; counter-reset:listnumbering; list-style: none; padding: 0;}
.timeTable li{ overflow:hidden; padding:9px 5px; border-top:1px solid #ccc; background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.2, rgb(221,221,221)),color-stop(0.8, rgb(238,238,238))); background-image: -moz-linear-gradient(center bottom,rgb(221,221,221) 20%,rgb(238,238,238) 80%);}
.timeTable li.ui-li-divider{ text-align:center;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.2,#333),color-stop(0.5, #555));background-image: -moz-linear-gradient(center bottom,#222 20%,#333 50%,#222 80%);}
.timeTable li:last-child{border-bottom:1px solid #ccc;}
.time{ color:#999; display:inline-block;}
.title{ clear:both; float:left; font-size:11px; display:block; }
.group{ color:#999; font-size:11px; display:inline-block; margin:0 0 0; float:right;}
.location{ float:right; }

.no-bullets{list-style-type:none; padding-left: 10px;}
blockquote{margin:20px 0 0; text-align:center;}

/*--- INFORMATION ---*/
#info .no-bullets{ font-family: monospace;}
#info label{display:inline-block; width: 75px;}

/*=== FOOTER NAVBAR ICONS ===*/
footer .ui-btn .ui-btn-inner{ padding-top: 40px !important;}
footer .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }

#btnLectures .ui-icon { background:  url(../images/lectures.png) 50% 50% no-repeat; }
#btnLocations .ui-icon { background:  url(../images/locations.png) 50% 50% no-repeat; }